* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  -webkit-scrollbar-width: none; /* Hide scrollbar for Chrome */
}
.mynav {
  position: sticky;
  top: -1%;
}
.imgAdmission {
  margin-left: 100px;
  height: 45px;
  width: 120px;
  background-color: black;
  background-image: url(./logo\(1\).jpg);
  background-size: contain;
}
.Admission-Open {
  font-size: 35px;
  color: #012970;
  font-weight: 700;
}

.my-nav-li {
  padding: 14px 0 10px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #013289;
  white-space: nowrap;
  transition: 0.3s;
}
.my-nav-li a {
  color: white;
  color: #013289 !important;
}
.my-nav-li a:hover {
  color: orange !important;
}
.headder-contact {
  background: #ffac1d;
  padding: 8px 20px;
  /* margin-left: 30px; */
  border-radius: 4px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  margin-right: 50px;
}
.headder-contact:hover{
 background-color: blueviolet;
}
.number,
.Apply-now,
.arrow {
  position: fixed;
  background-color: orange;
  height: 8vh;
  width: 11%;
  z-index: 1;
}
.number {
  border-top-left-radius: 20%;
  top: 50%;
  right: 0%;
  background-color: red;
  height: fit-content;
  color: white;
  padding: 12px 10px;
  font-weight: 900;
  font-size: 1em;
  border-radius: 8px 0px 0px 0px;
  font-weight: bolder;
}
.Apply-now {
  top: 60%;
  right: 0%;
  width: 8%;
  background-color: orange;
  height: fit-content;
  color: white;
  padding: 12px 10px;
  font-weight: 900;
  font-size: 1em;
  border-radius: 0px 0px 0px 10px;
  font-weight: bolder;
  cursor: pointer;
}
.arrow {
  width: 3.5%;
  height: 7.5%;
  bottom: 2%;
  right: 2%;
  border-radius: 20%;
  height: fit-content;
  color: white;
  font-weight: 900;
  font-size: 1em;
  box-sizing: border-box;
  padding-left: 1%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}

.head-advert {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  /* background-color: blueviolet; */
}
.lefthero {
  width: 48%;
  height: 80vh;
  position: relative;
  /* background-color: #795353; */
}

.aos-init {
  opacity: 1;
  transform: none;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 48px;
  font-weight: 700;
  color: #012970;
}
.aos-h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
  margin-left: 50px;
}
.righthero {
  width: 48%;
  height: 80vh;
  /* background-color: #795353; */
}
.mygetstartedbutton {
  position: absolute;
  bottom: 20%;
  left: 35%;
}
.divheroimage {
  /* background-color: red; */
  background-image: url(https://images.pexels.com/photos/864994/pexels-photo-864994.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  height: 65vh;
  width: 100%;
  margin-top: 50px;
}
.divheroimage h1 {
  text-align: center;
  font-weight: 700;
  color: #012970;
}
.section-header-h2 {
  color: #ffac1d;
  font-size: 20px;
}
.section-header p {
  font-size: 30px;
  color: #012970;
}
.section-header h3 {
  font-family: "Montserrat", sans-serif;
}
.section-header h3 {
  font-family: "Montserrat", sans-serif;
}
.maincard {
  /* background-color: #808080; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 90vh; */
}
.my-card {
  position: relative;
  height: 63vh;
  width: 28vw;
  margin-left: 20px;
  z-index: -1;
}
.my-card img {
  height: 40vh;
}
.my-card h5 {
  font-weight: 600;
  width: 100%;
  font-size: 30px;
  /* background-color: red; */
  text-align: center;
  position: absolute;
  bottom: 13vh;
  /* background-color: red; */
  left: 0;
  color: #012970;
}
.my-card p {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  left: 1vw;
  overflow: hidden;
}
.imgclass {
  /* background-color: black; */
  /* height: 60%; */
  margin-top: 2vh;
  /* border: 5px solid black; */
}
.admissionForm {
  height: 80vh;
  width: 100vw;
  margin-top: 10vh;
  /* background-color: gray; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -2;
}
.admissionForm {
  height: 80vh;
  width: 100vw;
  margin-top: 10vh;
  /* background-color: gray; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -2;
}
.formsideimage {
  margin-left: 2.25%;
  position: relative;
  display: inline-block;
  height: 70vh;
  width: 48vw;
  background-image: url(https://images.pexels.com/photos/3808181/pexels-photo-3808181.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  background-repeat: no-repeat;
}
.formsideimage h3 {
  color: red;
  position: absolute;
  right: 5%;
  top: 5%;
  font-weight: 700;
}
.forminput {
  position: relative;
  display: inline-block;
  height: 70vh;
  width: 48vw;
  background-color: #012970;
}
.forminput {
  position: relative;
}
.Form-input-class-user-response {
  margin-top: 6vh;
  height: 7vh;
  display: block;
  box-sizing: border-box;
  padding-left: 10px;
  margin-left: 40px;
  width: 40vw;
}
.selectclassofForm {
  margin-top: 3vh;
  display: block;
  box-sizing: border-box;
  padding-left: 10px;
  height: 7vh;
  width: 40vw;
  margin-left: 40px;
}
.EmailidOfForm {
  margin-left: 40px;
  height: 7vh;
  box-sizing: border-box;
  padding-left: 10px;
  margin-top: 3vh;
  width: 20vw;
}
.message-by-user {
  display: block;
  box-sizing: border-box;
  padding-left: 10px;
  margin-left: 40px;
  height: 14vh;
  max-height: 22vh;
  margin-top: 3vh;
  width: 40vw;
  overflow: scroll;
  position: relative;
}
.mobileofForm {
  margin-left: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  height: 7vh;
  width: 19vw;
}
.textareaAndsubmitbutton {
  position: relative;
  /* background-color: red; */
}
.devbtn {
  position: absolute;
  bottom: -70px;
  right: 40%;
  padding: 2%;
  color: red !important;
  font-weight: 700 !important;
}
.AboutYourCollege {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  height: auto;
  /* background-color: gray; */
  align-items: center;
  /* transition: 0.2s ease-in; */
}
.yourCollegeAbout {
  height: 70vh;
  width: 49vw;
  background-color: #fff;
  margin-left: 1vw;
  box-sizing: border-box;
  padding-left: 2vw;
  /* border: 2px solid black; */
  padding-right: 20px;
}
.yourCollegePicture {
  height: 70vh;
  width: 49vw;
  background-color: #fff;
  padding-left: 20px;
  box-sizing: border-box;
}
.AboutYourCollege span {
  color: red;
  font-size: 20px;
  font-weight: 600;
}
.boldparaofyourcollege {
  color: #012970;
  font-weight: 600;
  font-size: 1.5rem;
}
.yourCollegePicture {
 background-image: url(https://images.pexels.com/photos/18145430/pexels-photo-18145430/free-photo-of-pavement-in-front-of-a-college-in-nashville.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
}

.yourCollegeResult {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
}
.yourCollegeResult span {
  background-color: whitesmoke;
  height: 17vh;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  box-sizing: border-box;
}
.devsmile {
  font-size: 40px;
  display: inline-block;
  color: orange;

  padding-left: 5%;
}
.yourCollegeResult h2 {
  display: inline;
  color: blueviolet;
  font-weight: 600;
  margin-bottom: 5%;
}
.numAndh4{
  /* background-color: red; */
  flex-direction: column-reverse;
  align-self: flex-end;
  min-width: 170px;
}
.yourCollegeResult h4 {
  /* margin-left: 12%; */
  font-size: 20px;
}
.states{
  /* border: 2px solid black; */
  align-items: center;
  text-align: center;
  margin-top: 3vh;
  color: #013289;
}
.services-msgg {
  text-align: center;
  margin-top: 10vh;
  color: orange;
}
.Admissionservices-msgg {
  text-align: center;
  font-weight: 600;
  color: blueviolet;
  height: auto;
}

.Admissionregurding {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.Admissionregurding h3 {
  /* background-color: white;
  color: black; */
  overflow: hidden;
}
.Admissiondiv {
  height: 60vh;
  width: 46vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 2%;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.box-blue {
  border-bottom: 2px solid blue;
}
.box-orange {
  border-bottom: 2px solid orange;
}
.box-green {
  border-bottom: 2px solid green;
}
.box-red {
  border-bottom: 2px solid red;
}
.box-blue:hover {
  background-color: blue;
  color: white;
}
.box-orange:hover {
  background-color: orange;
  color: white;
}
.box-green:hover {
  background-color: green;
  color: white;
}
.box-red:hover {
  background-color: red;
  color: white;
}
.box-blue {
  flex-direction: column;
}
.Admissionregurdin-msgg {
  font-weight: 600;
  padding-bottom: 2%;
}

.Admissiondiv p {
  margin-left: 10%;
  margin-right: 10%;

  /* background-color: blueviolet; */
}
.Admissionspan{
  margin-top: 4%;
}
.ahrefofwhatsapp{
  /* background-color: wheat; */
  position: absolute;
  bottom: 8%;
  width: 25%;
  height:20px ;
  left: 16vw;
}
.chatNow {
  color: blueviolet;
  display: block;
  font-size: 20px;
  position: absolute;
  /* display: none; */
  bottom: 8%;
  /* background-color: yellowgreen; */
}
.colleges {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: burlywood; */
}
.college {
  height: 70vh;
  min-width: 30vw;
  margin-left: 1vw;
  margin-top: 3vh;
  position: relative;
  /* border: 2px solid black; */
  background-color: whitesmoke;
}
.College-photo {
  height: 50vh;
  /* border: 2px solid black; */
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.college-photo-rapper {
  height: 50vh;
  width: auto;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  overflow: hidden;
}
.College-photo:hover {
  transform: rotate(6deg) scale(1.2);
  transition: 0.5s;
  overflow: hidden;
  z-index: -1;
}
.mybtnforapply{
  font-weight: 700;
  color: white;
}
.college h3 {
text-align: center;
}
.college button {
  margin-left: 15%;
  position: absolute;
  bottom: 3%;
  width: 70%;
}
.collegecourse{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  margin-left: 2vw;
  margin-bottom: 10vh;
  /* background-color: red; */
}

.myCourses{
  margin-top: 2px;
  height: 190px;
  width: 230px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid whitesmoke;
  margin-left: 2px;
}
.myCourses h3{
  display: block;
  width: 150px;
  margin-top: 20px;
  color: blueviolet;
  text-align: center;
  background-color: #fff;
}
.pictureofCourse{
  margin-top: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 12px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
 /* background-color: #fff; */
}
#thisPicture{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-size: contain;
}

.footup {
  background-color: skyblue;
  height: 40vh;
  width: 100%;
  margin-top: 2vh;
  box-sizing: border-box;
  padding-top: 5vh;
}
.footup h2 {
  font-weight: 600;
}
.footup p {
  color: white;
}
.footdown {
  background-color: #212529;
  height: 20vh;
}
.footdown {
  box-sizing: border-box;
  padding-top: 8vh;
}
.footdown p {
  color: white;
  font-weight: 700;
}
nav {
  position: sticky !important;
  top: 0%;
}
